body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100vh;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #05d9e8;
  font-family: "Stalinist One";
  font-size: 20px;

  grid-template-areas: " settings grids right";
}

.header {
  grid-area: header;
  margin-top: 40px;
  margin-bottom: 20px;
}

.settings {
  grid-area: settings;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  grid-area: grids;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.right {
  grid-area: right;
}

#grids {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.grid-border {
  width: 600px;
  height: 600px;
  margin-top: 65px;
  margin-bottom: 20px;

  box-shadow: 0 0 80px #ff10f0;
  border-radius: 10px;
}

.settings1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;

  border-radius: 10px;
  height: 50vh;
  padding: 10px;
  align-items: center;
  background-color: rgba(255, 50, 255, 0.2);
  box-shadow: 0 0 60px #05d9e8;
}

h1 {
  font-size: 30px;
}

button {
  border-radius: 10px;
  background-color: #242424;
  border: none;
  padding: 10px 15px;
  color: #05d9e8;
  box-shadow: 0 0 20px #ff10f0;
  font-size: 16px;
  cursor: pointer;
}

input {
  width: 100%;
}

.box {
  background-color: hsl(0, 0%, 0%);
  border-radius: 1px;
  border: 0.2px solid white;
  width: 100%;
  display: inline-block;
}

.btns {
  border-radius: 10px;
  background-color: #bb21b3;
  border: none;
  padding: 10px 15px;
  color: #05d9e8;

  font-size: 16px;
  cursor: pointer;
}

.gridbtn {
  border-radius: 10px;
  background-color: #bb21b3;
  border: none;

  color: #05d9e8;

  font-size: 16px;
  cursor: pointer;
}

#gridon {
  padding: 10px 55px;
}
